<script setup>
import picture1 from '@images/pages/rainbow/smart-oper/6.png'
import picture2 from '@images/pages/rainbow/smart-oper/4.png'
import picture3 from '@images/pages/rainbow/smart-oper/5.png'
import picture4 from '@images/pages/rainbow/smart-oper/可视化运维系统设备台长.png'
import picture5 from '@images/pages/rainbow/smart-oper/可视化运维系统保养任务管理.png'
import picture6 from '@images/pages/rainbow/smart-oper/7.png'
</script>

<template>
  <v-row>
    <v-col cols="12">
      <div class="text-h3">CO Runway, OnePass</div>
    </v-col>
  </v-row>
  <v-row>
    <v-col cols="12">
      <div class="text-default">2007/12 - 2009/11</div>
    </v-col>
  </v-row>

  <v-row>
    <v-col cols="12">
      <v-card>
        <v-card-text>
          <div class="text-h5">简介</div>
          <p>
            项目的目的是按照美国航空Continental Airlines（CO）的要求改变EDS美国对CO研制的Frequent Flyer (飞行常客奖励计划)软件系统。
          </p>

          <!--          <div class="text-h5">功能</div>-->
          <!--          <p>主要功能是：</p>-->
          <!--          <v-list>-->
          <!--            <v-list-item>1. 基础安全、人员安全、环境安全、设备安全、生产安全管理</v-list-item>-->
          <!--            <v-list-item>2. 运营管理</v-list-item>-->
          <!--            <v-list-item>3. 资产管理</v-list-item>-->
          <!--          </v-list>-->

          <div class="text-h5 mt-6">项目目标</div>
          <v-list>
            <v-list-item>1. 通过数字化提高Frequent Flyer运营效率</v-list-item>
          </v-list>

          <div class="text-h5 mt-6">技术</div>
          <p>IBM z/OS, JCL, PL/I, IMS, CA-7, Endevor, CA-View</p>

          <div class="text-h5 mt-6">成就</div>
          <v-list>
            <v-list-item>1. 学会了和中国同事合作</v-list-item>
            <v-list-item>2. 在实践中获得了关于层次数据库IMS的知识</v-list-item>
            <v-list-item>3. 完成了许多JCL（Job Control Language）脚本和PL/I程序，优化同事做的程序</v-list-item>
          </v-list>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<style lang="scss" scoped>

</style>
