<script setup>
import Shuzixinxi from '@/views/pages/projects/shuzixinxi.vue'
</script>

<template>
  <div>
    <p class="text-3xl mb-6">
      陕西金合信息科技股份有限公司
    </p>
    <Shuzixinxi />
  </div>
</template>
