<script setup>
import picture1 from '@images/pages/rainbow/smart-oper/6.png'
import picture2 from '@images/pages/rainbow/smart-oper/4.png'
import picture3 from '@images/pages/rainbow/smart-oper/5.png'
import picture4 from '@images/pages/rainbow/smart-oper/可视化运维系统设备台长.png'
import picture5 from '@images/pages/rainbow/smart-oper/可视化运维系统保养任务管理.png'
import picture6 from '@images/pages/rainbow/smart-oper/7.png'
</script>

<template>
  <v-row>
    <v-col cols="12">
      <div class="text-h3">IBM美国微电子部Central Planning Engine系统</div>
    </v-col>
  </v-row>
  <v-row>
    <v-col cols="12">
      <div class="text-default">2002/12 - 2003/11</div>
    </v-col>
  </v-row>

  <v-row>
    <v-col cols="12">
      <v-card>
        <v-card-text>
          <div class="text-h5">简介</div>
          <p>
            用C/C++,PL/I, DB2 SQL查询研发程序。
          </p>

          <!--          <div class="text-h5">功能</div>-->
          <!--          <p>主要功能是：</p>-->
          <!--          <v-list>-->
          <!--            <v-list-item>1. 基础安全、人员安全、环境安全、设备安全、生产安全管理</v-list-item>-->
          <!--            <v-list-item>2. 运营管理</v-list-item>-->
          <!--            <v-list-item>3. 资产管理</v-list-item>-->
          <!--          </v-list>-->

          <div class="text-h5 mt-6">项目目标</div>
          <v-list>
            <v-list-item>---</v-list-item>
          </v-list>

          <div class="text-h5 mt-6">技术</div>
          <p>IBM zSeries, IBM z/OS, JCL, C/C++, PL/I, DB2, SQL, SCLM</p>

          <div class="text-h5 mt-6">成就</div>
          <v-list>
            <v-list-item>1. 获得关于IBM大型主机zSeries的知识</v-list-item>
            <v-list-item>2. 了解IBM大型主机的zOS操作系</v-list-item>
            <v-list-item>3. 学会和IBM大型主机有关的特殊的技术(JCL, PL/I)，了解数据库DB2、项目管理器SCLM</v-list-item>
            <v-list-item>4. 研发项目的一部分M</v-list-item>
          </v-list>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<style lang="scss" scoped>

</style>
